<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTest5Collection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0464D3461D3882B000DB7728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0464D35A1D3882B100DB7728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0464D3651D3882B100DB7728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
